<div class="footer">
    <p class="has-text-centered">Made with <i data-feather="heart"></i> by KiKu </p>
</div>
</div>
</section>
<script>
    feather.replace();
    const openModal = () => {
        document.getElementById("modal").classList.add("is-active");
    }
    const closeModal = () => {
        document.getElementById("modal").classList.remove("is-active");
    }
</script>
</body>

</html>